<?xml version="1.0"?>
<configuration>
 <appSettings>
        <add key="VITE_API_BASE_URL" value="http://localhost:8090/" />
 </appSettings>
 <system.webServer>
 <rewrite>
 <rules>
 <rule name="Vite Routes" stopProcessing="true">
 <match url=".*" />
 <conditions logicalGrouping="MatchAll">
 <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
 <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
 <add input="{REQUEST_URI}" pattern="^/(api)" negate="true" />
 </conditions>
 <action type="Rewrite" url="/" />
 </rule>
 </rules>
 </rewrite>
 </system.webServer>
</configuration>
