body {
  font-family: 'Plus Jakarta Sans', sans-serif;
}

.no-uppercase {
  text-transform: unset !important;
}

.uppercase {
  text-transform: uppercase;
}

.flex-col-center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.flex-row-center {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.custom-font {
  font-family: "Montserrat", sans-serif;
}

.not-clickable {
  pointer-events: none;
}

.elevation-10 {
  box-shadow: #919eab4d 0 0 2px, #919eab1f 0 12px 24px -4px !important;
}

.light-border {
  border-width: 0;
  border-color: rgba(var(--v-border-color), var(--v-border-opacity));
}

.centered-input input {
  text-align: center;
  padding-left: 8px;
  padding-right: 8px;
}

.right-align {
  align-self: flex-end;
}
